<div class="container">
  <div class="row">
    <div class="col-xs-4">

        <h2>Burgers to Try!</h2>
            <ul>
          
              {{#each burger}}
                {{#unless this.devoured}}
                 
                <li>
                {{this.burger_name}}
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
            <input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
            <button type="submit" class="btn btn-default">Devour it!</button>
          </form>
                </li>
      
                
                  {{/unless}}
              {{/each}}
            
            </ul>
    </div>
    <div class="col-xs-4">
        <div id="headsect">
          <h1>Veggie-a-Burger!</h1>
          <img src="./assets/img/veggieB.png" id="headimg">
        </div>
        <h2>Create a Burger:</h2>
        <form class="create-update-form" action="/burgers/create" method="POST">

          <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="burger_name">
            <button type="submit">Add A Burger</button>
          </div>
        </form>
       <!--  <form action="/burgers/create" method="POST">
        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
      </form> -->
    </div>
    <div class="col-xs-4">
        <div id="Col3">
          <h2>Burgers You Ate!</h2>

          <ul>
            {{#each burger}}
              {{#if this.devoured}}
                <li>
                  {{this.burger_name}}
                </li>
                {{/if}}
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>